* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f6f7f7;
}



.container {
    width: 90%;
    margin: auto;
    padding-top: 30px;
}


.top-section {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 25px;
}


.images-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 200px 200px;
    gap: 10px;
}

.images-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.images-grid .big {
    grid-row: span 2;
}


.reservation-box {
    background: white;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ddd;
     height: 420px;
}

.reservation-box h3 {
    margin-bottom: 15px;
}

.reservation-box label {
    display: block;
    margin: 8px 0 4px;
}

.reservation-box input,
.reservation-box select {
    width: 100%;
    padding: 8px;
   
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.btn {
    width: 100%;
    background: #a8d9d3;
    padding: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.notes {
    margin-top: 15px;
    list-style: none;
    color: #4a7a4a;
}

/* DESCRIPTION */
.description {
    margin-top: 40px;
}

.description h2 {
    margin-bottom: 10px;
}

.description p {
    margin-bottom: 25px;
    font-size: 15px;
}

/* INCLUS GRID */
.inclus-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

.box {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ddd;
}

.box h3 {
    margin-bottom: 10px;
}

.box ul {
    list-style: none;
    line-height: 1.8;
}
