.section_1{
    margin-top: 40px;
    width: 100%;
    height: 500px;
    /* background:url(zlij.jpg) no-repeat; */
    background-size: cover;

    

}

.titres1 h1 {
 font-weight:100;
    padding-top: 20px; 
    text-align: center;
    
    
   
}
.tittre{
    font-weight:100;
     padding-top: 20px; 
     /* align-items: center; */
     text-align: center;
     color:#276574;
}
/* .images .img1 {
    margin-right: 20px;
    margin-left: 20px;
    width: 230px;
  
} */
.article_1{
    width: 100%;
    height: 100px;
   
    display: flex;
    justify-content: space-around;
}
.image_1 img{
   width: 300px;
   height: 300px;
   margin-top: 10px;
   
}
.image_1 img:hover{
box-shadow: 2px 2px 7px black;

}
.image_2 img{
   width: 300px;
   height: 300px;
   margin-top: 10px;
   
}
.image_2 img:hover{
    box-shadow: 2px 2px 7px black;
}
.image_3 img{
   width: 300px;
   height: 300px;
   margin-top: 10px;
  
}
.image_3 img:hover{
    box-shadow: 2px 2px 7px black;
}
.description1{
    margin-top: -5px;
    width: 300px;
    height: 200px;
    background-color: #276574;
    border-radius: 0px 0px 20px 20px;
    
}
.description2{
    margin-top: -5px;
    width: 300px;
    height: 200px;
    background-color:#276574;
 border-radius: 0px 0px 20px 20px;
    
}
.description3{
    margin-top: -5px;
    width: 300px;
    height: 200px;
    background-color: #276574;
     border-radius: 0px 0px 20px 20px;
    
}
.down1{
    margin-top: 5px;
    display: flex;
    align-items: baseline;
    
}
.description1 p{
    margin-top: 5px;
    color: white;
}
.description1 span,.description2 span ,.description3 span{
    font-weight: bold;
}
.description2 p{
    margin-top: 5px;
    color: white;
}
.description3 p{
    margin-top: 5px;
    color: white;
    margin-left: 10px;
}

.down2{
    margin-top: 5px;
    display: flex;
    align-items: baseline;
    
}
.down3{
     margin-top: 5px;
    display: flex;
    align-items: baseline;
}
.description2 span{
    margin-bottom: 50px;
    ;
}

/* .Destination{
    width: 100px;
    height: 50px;
}
.Activités{
    width: 100px;
    height: 50px;

}
.Details{
    width: 100px;
    height: 50px;

}
.Login{
  width: 100px; */
    /* height: 50px;
  
} */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}
/* .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
  background-color: rgb(248, 244, 232)  ;
  
} */
/* header {
  border-top: 1px solid black;   
  border-bottom: 1px solid black; 
  margin-top: 20px;
  
} */
/* button{
    border:none;
    background: none;

}
button a{
    text-decoration: none;
    color: black;
}
.visite{
    color: red;
} */
.section_2{
    width: 100%;
    height:400px;
    padding-top: 200px;
   
}
.span1:hover{
text-decoration: underline;
cursor: pointer;
}

.title1{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#276574;
}
.article_2{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
}
.photo1{
   width: 300px;
   height: 300px;
   margin-top: 10px;
 
}
.photo1:hover{
box-shadow: 2px 2px 7px black;

}
.photo2 img{
   width: 300px;
   height: 300px;
   margin-top: 10px;
   
}
.photo2 img:hover{
    box-shadow: 2px 2px 7px black;
}
.photo3 img{
   width: 300px;
   height: 300px;
   margin-top: 10px;
   
}
.photo3 img:hover{
    box-shadow: 2px 2px 7px black;
}
.des1{
    margin-top: -5px;
    width: 300px;
    height: 200px;
    background-color: #276574;
     border-radius: 0px 0px 20px 20px;
    
    
}
.span1{
    color: white;
}
.des1 p{
     margin-top: 5px;
    color: white;
}
.des2{
    margin-top: -5px;
    width: 300px;
    height: 200px;
    background-color: #276574;
     border-radius: 0px 0px 20px 20px;
    
}
.des2 p{
     margin-top: 5px;
    color: white;
}
.des3{
    margin-top: -5px;
    width: 300px;
    height: 200px;
    background-color:  #276574;
     border-radius: 0px 0px 20px 20px;
    
}
.des3 p{
     margin-top: 5px;
    color: white;
}
.des1 p{
    margin-top: 5px;
}
.des1 span,.des2 span ,.des3 span{
    font-weight: bold;
}
.bas1{
    margin-top: 5px;
    display: flex;
    align-items: baseline;
}
.bas2{
    margin-top: 5px;
    display: flex;
    align-items: baseline;
}
.bas3{
    margin-top: 5px;
    display: flex;
    align-items: baseline;
}
.section_3{
    width: 100%;
    height: 500px;
    
    margin-top: 200px;
    
}
.bigtitle{
     width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#276574;

}
.article_3{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-around;
    
}
.gallery1 img{
width: 300px;
height: 300px;
margin-top: 10px;


}
.gallery1 img:hover{
box-shadow: 2px 2px 7px black;
}
.wasf1 p{
    margin-top: 5px;
}
.wasf1 span,.wasf2 span ,.wasf3 span{
    font-weight: bold;
}



.gallery2 img{
width: 300px;
height: 300px;
margin-top: 10px;


}
.gallery2 img:hover{
box-shadow: 2px 2px 7px black;
}
.wasf2 p{
    margin-top: 5px;
}

.gallery3 img{
width: 300px;
height: 300px;
margin-top: 10px;

}
.gallery3 img:hover{
box-shadow: 2px 2px 7px black;
}
.wasf1 p{
     margin-top: 5px;
    color: white;
}
.wasf3 p{
    margin-top: 5px;
    color: white;
}
.wasf2{
     margin-top: 5px;
    color: white;
}
.asfal1{
    margin-top: 5px;
    display: flex;
    align-items: baseline;
}
.asfal2{
    margin-top: 5px;
    display: flex;
    align-items: baseline;
}
.asfal3{
    margin-top: 5px;
    display: flex;
    align-items: baseline;
}
.wasf1{
    margin-top: -5px;
    width: 300px;
    height: 200px;
    background-color:  #276574;
     border-radius: 0px 0px 20px 20px;
    
    
}
.wasf2{
    margin-top: -5px;
    width: 300px;
    height: 200px;
    background-color:  #276574;
     border-radius: 0px 0px 20px 20px;
    
}
.asfal2 span{
    color: black;
}
.wasf3{
    margin-top: -5px;
    width: 300px;
    height: 200px;
    background-color:  #276574;
     border-radius: 0px 0px 20px 20px;
    
}
i{
    color: rgb(220, 220, 17)
}